<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('include/Header') -%>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  
  <body>
    <%- include('include/Sidebar') -%>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <%- include('include/Logo') -%> <%- include('include/Menu',{menu:
      'Party'}) -%>

      <!-- start menu -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-tab-pro-inner">
              <div id="myTabContent" class="tab-content custom-product-edit">
                <div
                  class="product-tab-list tab-pane fade active in"
                  id="description"
                >
                  <form
                    method="POST"
                    action="<%= formAction %>"
                    accept-charset="UTF-8"
                    id="general_form"
                    novalidate="novalidate"
                  >
                  <% if(rosta.check_obj(partyData)){ %>
                    <div class="row">
                      <% partyData.image_link.forEach(function(image_val){ %>
                      <div class="col-md-3 form-group">
                        <img src="<%= rosta.web_link(image_val) %>" class="form-control" alt="" style="height: 58px; width: 171px">
                      <button type="submit" class="btn data waves-effect waves-light m-r-10" onclick="deleteData({image_id: '<%= partyData._id %>',image_link: '<%= image_val %>'},'party_image')">
                        Delete
                      </button>
                      </div>
                      <% }); %>
                    </div>
                  <% } %>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input
                          class="form-control"
                          name="name"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'name') %>"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Short name</label>
                        <input
                          class="form-control"
                          name="short_name"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'short_name') %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input
                          class="form-control"
                          name="email"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'email') %>"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Bar in diagram</label>
                        <input
                          class="form-control"
                          name="bar_in_diagram"
                          type="color"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'bar_in_diagram') %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Small Party</label>
                        <select name="small_party" class="form-control">
                          <option value="1"  <%= (rosta.check_obj(partyData) && partyData.small_party === '1') ? 'selected' : '' %>>yes</option>
                          <option value="0" <%= (rosta.check_obj(partyData) && partyData.small_party === '0') ? 'selected' : '' %>>No</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Add url</label>
                        <input
                          class="form-control"
                          name="url"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'url') %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Voters estimated</label>
                        <input
                          class="form-control"
                          name="total_voters_estimated"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(partyData,'total_voters_estimated') %>"
                        />
                      </div>
                    </div>
                    <div class="row image_link_multi_plus">
                      <div class="col-md-6 form-group">
                        <label>Logo (550x176 px, 825x264 px)</label>
                      <div class="form-border">
                      <input type="button" class="btn btn-light" data-id="image_link_1" value="Choose File">
                      <span class="image_link_1"></span>
                        <input
                          class="form-control image_link_1"
                          name="image_link[]"
                          type="file"
                          aria-invalid="false"
                          style="display: none"
                        />
                      </input>
                      </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Multiple</label><br>
                       <button
                            type="button"
                            class="btn btn-ctl-bt waves-effect waves-light image_link_plus"
                          ><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" id="summernote">
                          <%= rosta.formData(partyData,'description') %>
                        </textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center custom-pro-edt-ds">
                          <button
                            type="submit"
                            class="btn data waves-effect waves-light m-r-10"
                          >
                            Save
                          </button>
                          <button
                            type="button"
                            class="btn btn-ctl-bt waves-effect waves-light"
                          >
                            Discard
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end menu -->
    </div>
    

    <%- include('include/Footer') -%>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#summernote').summernote();
      });
    </script>
  </body>
</html>
