<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('include/Header') -%>
  <style type="text/css">
    textarea {
      color: #000000;
      width: 100%;
    }
    .configuration_name {
      text-transform: capitalize;
    }
    .share_menu {
      margin-top: 2%;
    }
    .form-border {
        color: #000000 !important;
    }
  </style>
  <body>
    <%- include('include/Sidebar') -%>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <%- include('include/Logo') -%> <%- include('include/Menu',{menu: ''}) -%>

      <!-- start menu -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
              <h4>Party Info</h4>
              <!-- <div class="add-product">
                <a href="<%= rosta.web_link('admin/add-party') %>">Add Party</a>
              </div> -->
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>#</th>
                    <th>#</th>
                  </tr>
                  <!-- <tr>
                    <td><div class="configuration_name"><%- configrations[0].name %></div></td>
                    <td>
                      <div class="col-md-6 form-group">
                        <select
                          name="changeStatus"
                          data-type="configuration"
                          data-id="<%= configrations[0]._id %>"
                          class="form-control"
                        >
                          <option value="1">A-Z</option>
                          <option value="-1">Z-A</option>
                        </select>
                      </div>
                    </td>
                    <td></td>
                  </tr> -->
                  <tr>
                    <td>
                      <div class="configuration_name">
                        <%- configrations[1].name %>
                      </div>
                    </td>
                    <td>
                      <textarea class="custom_text_<%- configrations[1]._id %>">
<%- configrations[1].value %></textarea
                      >
                    </td>
                    <td>
                      <div class="custom-pro-edt-ds">
                        <button
                          type="submit"
                          data-id="<%- configrations[1]._id %>"
                          class="btn btn-ctl-bt waves-effect waves-light m-r-10 text-save"
                        >
                          Save
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="configuration_name">
                        <%- configrations[2].name %>
                      </div>
                    </td>
                    <td>
                      <textarea class="custom_text_<%- configrations[2]._id %>">
<%- configrations[2].value %></textarea
                      >
                    </td>
                    <td>
                      <div class="custom-pro-edt-ds">
                        <button
                          type="submit"
                          data-id="<%- configrations[2]._id %>"
                          class="btn btn-ctl-bt waves-effect waves-light m-r-10 text-save"
                        >
                          Save
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="configuration_name">
                        <%- configrations[3].name %>
                      </div>
                    </td>
                    <td>
                      <textarea class="custom_text_<%- configrations[3]._id %>">
<%- configrations[3].value %></textarea
                      >
                    </td>
                    <td>
                      <div class="custom-pro-edt-ds">
                        <button
                          type="submit"
                          data-id="<%- configrations[3]._id %>"
                          class="btn btn-ctl-bt waves-effect waves-light m-r-10 text-save"
                        >
                          Save
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <h4>
                        <div class="configuration_name share_menu">Share</div>
                      </h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="configuration_name">
                        <%- configrations[4].name %>
                      </div>
                    </td>
                    <td>
                      <textarea class="custom_text_<%- configrations[4]._id %>">
<%- configrations[4].value %></textarea
                      >
                    </td>
                    <td>
                      <div class="custom-pro-edt-ds">
                        <button
                          type="submit"
                          data-id="<%- configrations[4]._id %>"
                          class="btn btn-ctl-bt waves-effect waves-light m-r-10 text-save"
                        >
                          Save
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <h4>
                        <div class="configuration_name share_menu">
                          Question
                        </div>
                      </h4>
                    </td>
                  </tr>
                  <tr>
                    <form
                      method="POST"
                      action="question-upload"
                      id="general_form"
                      novalidate="novalidate"
                    >
                      <td>
                        <div class="configuration_name">Upload csv file</div>
                      </td>
                      <td>
                        <div class="form-border">
                          <input
                            type="button"
                            class="btn btn-light"
                            data-id="image_link_1"
                            value="Choose File"
                          >
                          <span class="image_link_1"></span>
                          <input
                          class="form-control image_link_1"
                          name="question_file"
                          type="file"
                          aria-invalid="false"
                          style="display: none"
                        />
                          </input>
                        </div>
                      </td>
                      <td>
                        <div class="custom-pro-edt-ds">
                          <button
                            type="submit"
                            class="btn btn-ctl-bt waves-effect waves-light m-r-10"
                          >
                            Save
                          </button>
                        </div>
                      </td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- end menu -->
    </div>

    <%- include('include/Footer') -%>
  </body>
</html>
