<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('include/Header') -%>
  <body>
    <%- include('include/Sidebar') -%>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <%- include('include/Logo') -%> <%- include('include/Menu',{menu:
      'Collaboration'}) -%>

      <!-- start menu -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
              <h4>Collaboration</h4>
              <div class="add-product">
                <a href="<%= rosta.web_link('admin/add-collaboration') %>"
                  >Add collaboration</a
                >
              </div>
              <table>
                <tbody>
                  <tr>
                    <th>Participants</th>
                    <th>Total Party</th>
                    <th>Party name</th>
                    <th>Action</th>
                  </tr>
                  <% collaborations.forEach(function(collaboration){ %>
                  <tr>
                    <td><%- collaboration.name %></td>
                    <td>
                      <%-
                      rosta.filter_by_id(collaboration.party_id,'short_name').length
                      %>
                    </td>
                    <td>
                      <%-
                      rosta.array_to_str(rosta.filter_by_id(collaboration.party_id,'short_name'))
                      %>
                    </td>
                    <td>
                      <button
                        data-toggle="tooltip"
                        title=""
                        class="pd-setting-ed"
                        onclick="deleteData('<%= collaboration._id %>','collaboration')"
                        data-original-title="Trash"
                      >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- end menu -->
    </div>

    <%- include('include/Footer') -%>
  </body>
</html>
