<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('./../include/Header') -%>
  <link rel="stylesheet" href="<%= rosta.web_link('admin/css/toggle.css') %>" />
  <body>
    <%- include('./../include/Sidebar') -%>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <%- include('./../include/Logo') -%> <%-
      include('./../include/Menu',{menu: 'Stock'}) -%>

      <!-- start menu -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
              <h4>All Stocks</h4>
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Action</th>
                  </tr>
                  <% deals.forEach(function(deal){ %>
                  <tr>
                    <td><%- deal.name %></td>
                    <td><%- deal.email %></td>
                    <td><%- deal.price %></td>
                    <td><%- deal.stock %></td>
                    <td>
                      <button
                        data-toggle="tooltip"
                        title=""
                        class="pd-setting-ed"
                        onclick="deleteData('<%= deal._id %>','deals')"
                        data-original-title="Trash"
                      >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- end menu -->
    </div>

    <%- include('./../include/Footer') -%>
  </body>
</html>
