<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Rosta | dashboard</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="7QX7rymYQW9mTHAYSxZgZ7mJjEYjx4y4Ss81xG7t" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="img/logo/logosn_11zon.ico"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/bootstrap.min.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/font-awesome.min.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/toaster.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/animate.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/normalize.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/meanmenu.min.css') %>"
  />
  <link rel="stylesheet" href="<%= rosta.web_link('admin/css/main.css') %>" />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/morrisjs/morris.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/scrollbar/jquery.mCustomScrollbar.min.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/metisMenu/metisMenu.min.css') %>"
  />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/metisMenu/metisMenu-vertical.css') %>"
  />
  <link rel="stylesheet" href="<%= rosta.web_link('admin/style.css') %>" />
  <link
    rel="stylesheet"
    href="<%= rosta.web_link('admin/css/responsive.css') %>"
  />
</head>
