<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('./../include/Header') -%>
  <body>
    <%- include('./../include/Sidebar') -%>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <%- include('./../include/Logo') -%> <%-
      include('./../include/Menu',{menu: 'Competition'}) -%>
      <!-- start menu -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-tab-pro-inner">
              <div id="myTabContent" class="tab-content custom-product-edit">
                <div
                  class="product-tab-list tab-pane fade active in"
                  id="description"
                >
                  <form
                    method="POST"
                    action="<%= formAction %>"
                    accept-charset="UTF-8"
                    id="general_form"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Competition Name</label>
                        <input
                          class="form-control"
                          name="name"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(dealData,'name') %>"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Points</label>
                        <input
                          class="form-control"
                          name="point"
                          type="text"
                          aria-invalid="false"
                          value="<%= rosta.formData(dealData,'point') %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>From Date</label>
                        <input
                          class="form-control"
                          name="from_date"
                          type="date"
                          min="<%= current_date %>"
                          aria-invalid="false"
                          value="<%= rosta.formData(dealData,'from_date') %>"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <label>To Date</label>
                        <input
                          class="form-control"
                          name="to_date"
                          type="date"
                          min="<%= current_date %>"
                          aria-invalid="false"
                          value="<%= rosta.formData(dealData,'to_date') %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Description</label>
                        <input
                          class="form-control"
                          name="description"
                          type="text"
                          aria-invalid="false"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center custom-pro-edt-ds">
                          <button
                            type="submit"
                            class="btn btn-ctl-bt waves-effect waves-light m-r-10"
                          >
                            Save
                          </button>
                          <button
                            type="button"
                            class="btn btn-ctl-bt waves-effect waves-light"
                          >
                            Discard
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end menu -->
    </div>

    <%- include('./../include/Footer') -%>
  </body>
</html>
